button {
    font-size: 1.4rem;
    background: $primary;
    &:hover {
        background: $accent;
        color: $primary;
        font-weight: bolder;
    }
    &.danger {
        &:hover {
            background: $danger;
            color: $primary;
        }
    }
    i {
        margin-right: 5px;
    }
}