// Colors
$background: #fafafa;
$primary: #fafafa;
$primary-light: rgba(235, 235, 235, 1);
$secondary: #005050;
$accent: #9cd64a;
$dark: #2E3338;
$font: #1a1a1a;
$disabled: #a4a4a4;
$success: #47a725;
$danger: #de1f43;
$warning: #DC8923;