// Colors
$background: #fafafa;
$primary: #20254E;
$primary-light: rgba(235, 235, 235, 1);
;
$secondary: #DC8923;
$light: #EBEBEB;
$lighter: rgba(235, 235, 235, 0.6);
$lightest: rgba(235, 235, 235, 0.3);
$dark: #2E3338;
$disabled: #a4a4a4;
$success: #47a725;
$danger: #de1f43;
$warning: #DC8923;
