@import 'themes/_settings';
html {
    font-size: 75%;
    font-family: monospace;
}

body {
    background-color: $background;
    margin: 0px;
    font-size: 1.3rem;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    font-family: monospace;
    overflow-x: hidden;
}

spinner {
    border-width: 12px!important;
    border-color: $background rgba(79, 106, 167, 0.1) rgba(79, 106, 167, 0.1)!important
}