@import 'themes/_settings';
html {
    font-size: 75%;
    font-family: monospace;
}

body {
    background-color: $background;
    margin: 0px;
    font-size: 1.3rem;
    line-height: 1.4;
    -webkit-font-smoothing: antialiased;
    font-family: monospace;
    overflow-x: hidden;
}

spinner {
    position: absolute;
    left: calc(50% - 50px); // z-index: 9;
    top: calc(50% - 200px);
    border-width: 10px !important;
    border-color: $accent rgba(79, 106, 167, 0.1) rgba(79, 106, 167, 0.1) !important;
}

i {
    &:after {
        font-family: monospace;
    }
}