@import '../../../../../styles/themes/_settings';
.overview-container {
    padding: 25px 0px;
    @media (min-width: 500px) {
        padding: 50px 15px;
    }
    @media (min-width: 768px) {
        padding: 50px 50px;
    }
}

.gallery {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(auto-fit, minmax(135px, 0.5fr));
    h1 {
        font-size: 1.2rem;
        grid-column: 1 / -1;
        display: grid;
        grid-gap: 20px;
        align-items: center;
    }
    @media (min-width: 768px) {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        h1 {
            font-size: 4rem;
        }
    }
}